.filter{
    display:flex;
    align-items:center;
    gap:12px;
}

.filter label{
    font-weight:600;
    color:#374151;
}

.filter select{
    width:170px;
    padding:10px;
    border-radius:8px;
    border:1px solid #d1d5db;
    outline:none;
    cursor:pointer;
}

.filter select:focus{
    border-color:#4f46e5;
}