.task-form{
    background:#fff;
    border-radius:12px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.task-form h2{
    color:#4f46e5;
    margin-bottom:25px;
}

.form-group{
    margin-bottom:20px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.form-group input,
.form-group textarea,
.form-group select{

    width:100%;
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:8px;
    outline:none;
    font-size:15px;

}

.form-group textarea{
    resize:none;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus{

    border-color:#4f46e5;

}

.hint{

    display:block;
    margin-top:6px;
    color:#ef4444;
    font-size:13px;

}

.primary-btn{

    width:100%;
    background:#4f46e5;
    color:white;
    border:none;
    padding:14px;
    border-radius:8px;
    cursor:pointer;
    margin-top:10px;
    font-size:16px;

}

.primary-btn:hover{

    background:#4338ca;

}

.secondary-btn{

    width:100%;
    background:#6b7280;
    color:white;
    border:none;
    padding:14px;
    border-radius:8px;
    cursor:pointer;
    margin-top:12px;
    font-size:16px;

}

.secondary-btn:hover{

    background:#4b5563;

}